<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
    <div>
        <form action="/insert" method="post">
            <input type="text" name="city" placeholder="Enter City">,
            <input type="text" name="fooditem" placeholder="Enter Food Item">,
            <input type="text" name="area" placeholder="Your City Area">,
            <input type="text" name="storename" placeholder="Store Name">,
            <input type="text" name="rating" placeholder="Give over all rating">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>