<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        rating page <br>
        store id =
        <%=id%>
    </h1>

    <form action="/rate" method="post">
        <input type="hidden" name="storeid" value="<%=id%>" placeholder="<%=id%>">
        <label for="">overall rating</label>
        <input type="text" placeholder="out of 5" name="given_rating">
        <button type="submit">Submit</button>
    </form>

</body>

</html>