.navbar {
    display: flex;
    justify-content: space-around;
    gap: 900px;
}

.mainouter {
    margin: auto;
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.profileimg {
    border-radius: 50%;
    height: 27px;
    width: 27px;
    margin-top: 18px;
}

.navbarprofile {
    margin-top: 10px;
    gap: 10px;
    display: flex;
}

.Flavor {
    font-weight: 700;
}

.logoname {
    font-size: 30px;

}

.username {
    font-size: 20px;
}
.outer {
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 20px;
    height: auto;
    max-width: 100%;
        flex-basis: calc(30% - 20px);
        margin: 10px;
        box-sizing: border-box;
        overflow: hidden;
        flex-wrap: wrap;
}

li {
    list-style: none;
    margin-left: 20px;
}

.supposeimage {
    height: 250px;
    width: 100%;
    /* background-color: chocolate; */
    margin: auto;
}

.foodimage {
    object-fit: fill;
    height: 250px;
    width: 100%;
}
.wholebutton {
    margin: 0%;
    padding: 0%;
}

.not-found {
    text-align: center;
    padding: 20px;
    color: #ff0000;
}

body {
    font-family: Arial, sans-serif;
}

.span {
    font-size: 22px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    max-width: 800px;
    margin: 10px auto;
    justify-content: center;
}

.search-bar1 {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 470px;

}

.verticalline {
    border-right: 1px solid gray;


}


.search-bar select,
.search-bar input {
    border: none;
    outline: none;
    font-size: 16px;
    margin-right: 10px;
}

.search-bar select {
    background: transparent;
    padding: 3px;
}

.search-bar input {
    flex: 1;
    padding: 5px;
}

.search-bar button {
    background: #ff6f61;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    align-content: end;
    position: absolute;
    right: 10px;

}

.hidden {
    display: none;
}

/* ///////////////////////// */

@media (max-width: 699px) {

    .search-bar select,
    .search-bar input {
        border: none;
        outline: none;
        font-size: 14px;
        margin-right: 3px;
    }

    .span {
        position: absolute;
        top: 110px;
        left: 10px;
        font-size: 17px;
    }
}

@media (max-width: 480px) {

    .search-bar select,
    .search-bar input {
        border: none;
        outline: none;
        font-size: 10px;
        margin-right: 3px;
    }

    .span {

        position: absolute;
        top: 112px;
        left: 10px;
        font-size: 17px;
        margin-bottom: 10px;
        /* padding-right: 10px; */

    }
}

/* ////////////////// */
@media (max-width: 1200px) {
    .navbar {
        display: flex;
        justify-content: space-around;
        gap: 600px;
    }
}
@media (max-width: 1024px) {
    .outer {
        flex-basis: calc(40% - 20px);
    }
.navbar {
    display: flex;
    justify-content: space-around;
    gap: 600px;
}

.search-bar1 {
    margin-top: 30px;
}
}

@media (max-width: 1023px) {

    .navbar {
        display: flex;
        justify-content: space-around;
        gap: 220px;
    }
}

@media (max-width: 768px) {
    .outer {
        flex-basis: calc(100% - 20px);
    }
.navbar {
    display: flex;
    justify-content: space-around;
    gap: 120px;


    .search-bar1 {
        margin-top: 30px;

    }
}
}

@media (max-width: 500px) {

    h2,
    h4,
    h3 {
        font-size: 1.2em;
    }

    .outer {
        margin: 10px;
    }
.search-bar1 {
    margin-top: 30px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    gap: 90px;
}

}

@media (max-width: 499px) {

    h2,
    h4,
    h3 {
        font-size: 1.2em;
    }

    .outer {
        margin: 10px;
    }
.search-bar1 {
    margin-top: 30px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    gap: 60px;
}

}
@media (max-width: 321px) {

    h2,
    h4,
    h3 {
        font-size: 1.2em;
    }

    .outer {
        margin: 10px;
    }
.search-bar1 {
    margin-top: 30px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

}